body{
	font-family: Georgia, serif;
	font-size: 17px;
	line-height: 1.6em;
}

li{
	list-style:none;
}

a{
	text-decoration:none;
}

label{
	display:inline-block;
	width:180px;
}

input[type='text']{
	width:97%;
	padding:4px;
	border-radius:5px;
	border:1px #ccc solid;
}

input[type='number']{
	width:50px;
	padding:4px;
	border-radius:5px;
	border: 5px #ccc solid;
}

.container{
	width:60%;
	margin:0 auto;
	overflow:auto;
}

header{
	border-bottom: 10px grey solid;
}

footer{
	border-top: 10px grey solid;
	text-align:center;
	padding-top:5px;
}

main{
	padding-bottom:20px;
}

a.start{
	display: inline-block;
	color: snow;
	background: #2f68c4;
	border: 1px dotted #ccc;
	padding: 6px 13px;
	border-radius: 5px;
}

.current{
	padding: 10px;
	background: #f4f4f4;
	border: #ccc solid 3px;
	margin: 20px 0 10px 0;
}

@media only screen and (max-width:960px){
	.container{
		width:80%;
	}
}